<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Use this Form to create a new Char INPUT HIS NAME</h1>
    <form action="create" method="post">
      <input type="text" name="name" />
      <button type="submit">Submit</button>
    </form>
    <h1>ADD EVENT NAME AND GOLD EXP CC gained</h1>
    <form action="addEvenet" method="post">
      <input type="text" name="char" placeholder="Char name (winter)" />
      <input type="text" name="event" placeholder="EVENT Name" />
      <input type="number" name="gold" placeholder="GOLD" />

      <input type="number" name="exp" placeholder="exp" />

      <input type="number" name="cc" placeholder="cc" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
